header { background-color: #351B53; color: #fff; padding: 20px 0; }
header h1 { margin-top: 0; }
section { margin: 0 auto; max-width: 800px; padding: 0 12px; }
section.fi { border-bottom: 1px solid #ccc; }
section.fi h2 { color: #351B53; }
section.rm h2 { color: #A02238; }
section.fi p, section.rm p { margin-bottom: 20px; }
a { color: #333; font-weight: 900; }
a:hover { color: #333; }
ul { margin-left: 0; }
li { list-style-type: none; }